@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'sanfrancisco';
    src: url('../fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'masque';
    src: url('../fonts/MASQUE__.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
