<footer>
    <style>
        footer p {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        footer span#time {
            position: absolute;
            right: 20px;

        }
    </style>
        <p><span>jebaczStefanów v0.4.1 by patchker inc.</span><span id="time"></span></p>
    <script>
        function updateTime() {
            var d = new Date();
            var time = d.toLocaleTimeString();
            document.getElementById('time').textContent = time;
        }
        setInterval(updateTime, 1000);
        updateTime();
    </script> </p>
</footer>
